<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Регистрация нового пользователя</title>
</head>
<body>
  <header>
    <h1>Здравствуйте, {{user}}!</h1>
    <p>Ваш email {{email}} был успешно зарегистрирован на нашем сайте.</p>
  </header>
  <section>
    <h1>Вернуться на главную:</h1>
    <p><a href="http://localhost:8000/">На главную</a></p>
  </section>
</body>
</html>
